<!--<html>

<head>
    <title>Upload</title>
</head>

<body>
    <form action=/upload/ method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }} {{ form.file }}
        <input type="submit">
    </form>
</body>

</html>
-->

<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form action="/upload" method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>