<!DOCTYPE html>
<title>Kompresi file</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    WebSocketTest();

    function WebSocketTest() {
        if ("WebSocket" in window) {
            var ws_stomp_display = new SockJS("http://152.118.148.95:15674/stomp");
            var client_display = Stomp.over(ws_stomp_display);
            var mq_queue_display = "/exchange/1706040031/{{ key }}";
            console.log("mqqd:  " + mq_queue_display);

            // [A] Browser melakukan subscribe ke RabbitMQ
            var on_connect_display = function() {
                console.log("connected :D");
                client_display.subscribe(mq_queue_display, on_message_display);
            };

            var on_error_display = function() {
                console.log("error :[");
            };

            // [C] Menampilkan nilai persentase yang dikirim oleh background process
            var on_message_display = function(m) {
                console.log("message received");
                $("#progress").html(m.body);
                console.log(m.body);
                if (m.body.includes("100%")) {
                    $("#finish").html("Selesai! Silakan cek pada folder 'uploads'.");
                }
            };


            client_display.connect(
                "0806444524",
                "0806444524",
                on_connect_display,
                on_error_display,
                "/0806444524"
            );

        } else {
            alert("WebSocket NOT supported by your Browser!");
        }
    }
</script>

<html>
<div id="progress"></div>
<div id="finish"></div>
<br><br><br>
<a href="/">Kembali</a>
<br><br><br>

</html>

<footer>
    Gema Pratama Aditya - 1706040031
</footer>