<!DOCTYPE html>
<title>Progress download dan kompresi</title>

<!-- https://stackoverflow.com/questions/37259740/passing-variables-from-flask-to-javascript -->
<!-- https://stackoverflow.com/questions/41144565/flask-does-not-see-change-in-js-file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
    }
</script>
<script type="text/javascript">
    WebSocketTest();

    function WebSocketTest() {
        if ("WebSocket" in window) {
            var ws_stomp_display = new SockJS("http://152.118.148.95:15674/stomp");
            var client_display = Stomp.over(ws_stomp_display);
            //var mq_queue_display = "/exchange/1706040031/{{ key }}";
            //var mq_queue_display = "/exchange/1706040031/{{ key }}";
            var mq_queue_display = "/exchange/1706040031_TOPIC/{{ key }}";
            //var mq_queue_display = "/exchange/1706040031_DIRECT/asdavabsadf";
            //var links = 
            //    urls
            //;
            //console.log("URLS");
            //console.log(links);
            console.log("mqqd:  " + mq_queue_display);

            // [A] Browser melakukan subscribe ke RabbitMQ
            var on_connect_display = function() {
                console.log("connected :D");
                client_display.subscribe(mq_queue_display, on_message_display);
            };

            var on_error_display = function() {
                console.log("error :[");
            };

            // [C] Menampilkan nilai persentase yang dikirim oleh background process
            var on_message_display = function(m) {
                console.log("message received");
                $("#progress").html(m.body);
                console.log("m.body:");
                console.log(m.body);
            }

            client_display.connect(
                "0806444524",
                "0806444524",
                on_connect_display,
                on_error_display,
                "/0806444524"
            );

        } else {
            alert("WebSocket NOT supported by your Browser!");
        }
    }
</script>
<html>


<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<!-- https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro -->

<body>
    <table>
        <tr>
            <th>No</th>
            <th>URL</th>
            <th>Download</th>
            <th>Kompresi</th>
        </tr>
        {% for key, value in urls.items() %}
        <tr>
            <td>{{ key[-2:]}} </td>
            <td>{{ value }}</td>
            <td id="downloadprogress{{ key[-2:]}}">Download</td>
            <td id="compressprogress{{ key[-2:]}}">Kompresi</td>
        </tr>
        {% endfor %}
    </table>
</body>

<div id="progress"></div>

</html>
<footer>
    Gema Pratama Aditya - 1706040031
</footer>